
.altura-a-b{
    padding: 100px 0;
}

.logotipo{
    width: 100px; /*ancho*/
    padding: 5px 0; /*espacio para que no quede tan pegado*/
}

.iconos-redes-header{
    width: 20px;
    margin: 10px 5px;
}

.banner-video{
    background-image: url("../imagenes/playa.jpg");
    padding: 200px 0;
    position: relative;
    text-align: center;
}

.banner-video .play{
    width: 80px;
    height: 80px;
    position: relative;
}

.iconos-des{
    width: 200px;
}

footer{
    background-color:black;
    padding: 100px 0;
    text-align: center;
}

footer .logotipo-footer{
    width: 200px;
    margin-bottom: 20px;
}

footer p{
    color: white;
    font-size: 14px;
}